.gradle
/build/
.idea
/target/
.DS_STORE

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
sonar-kotlin.iml
sonar-kotlin.ipr
sonar-kotlin.iws
sonar-kotlin_main.iml
sonar-kotlin_test.iml
