version: '{build}'
skip_tags: true
skip_commits:
  message: /\[ci skip\]/
clone_depth: 10
environment:
  MAVEN_VERSION: 3.5.0
  TERM: dumb
  matrix:
    - JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - SET PATH=%JAVA_HOME%\bin;%PATH%
  # remove Ruby entry (C:\Ruby193\bin;) from PATH
  - SET PATH=%PATH:C:\Ruby193\bin;=%
  - echo %PATH%
  - java -version
  - mvn --version
build_script:
  - mvn clean package --batch-mode -DskipTest
test_script:
  - mvn clean install --batch-mode